<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<title>Blueprint: Vertical Timeline</title>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Blueprint: Vertical Timeline" />
	<meta name="keywords" content="timeline, vertical, layout, style, component, web development, template, responsive" />
	<meta name="author" content="Codrops" />

	<link rel="shortcut icon" href="../favicon.ico">

	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<link rel="stylesheet" type="text/css" href="css/foundation.css" />
</head>

<body>

	<header data-sticky-container>
		<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
			<div class="top-bar-title">
				<span data-responsive-toggle="responsive-menu" data-hide-for="medium">
					<button class="menu-icon dark" type="button" data-toggle></button>
				</span>
				<strong>Site Title</strong>
			</div>
			<div id="responsive-menu">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li>
							<a href="#">Produits</a>
							<ul class="menu vertical">
								<li><a href="#">VePanel</a></li>
								<li><a href="#">ERP</a></li>
								<li><a href="#">DMP</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Type</a>
							<ul class="menu vertical">
								<li><a href="#">Major version</a></li>
								<li><a href="#">Minor version</a></li>
								<li><a href="#">Bug fix</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu">
						<li>
							<input type="search" id="searchinput" placeholder="Search">
						</li>
						<li>
							<button type="button" class="button" id="search_button">Search</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="container">

		<div class="main">
			<ul class="cbp_tmtimeline" id="release_timeline">

			</ul>
		</div>

		<div class="navigationBar">
			<div class="button" id="scrollTop">TOP</div>
			<div class="scrollLast button">LAST</div>
			<div class="scrollNext button">NEXT</div>
		</div>

	</div>

	<script id="release_tpl" type="text/template">
		<li>
			<time class="cbp_tmtime" datetime="">
				<span><%= release_date %></span>
			</time>
			<div class="cbp_tmicon cbp_tmicon-phone"></div>
			<div class="cbp_tmlabel">
				<h2><%= title.rendered %></h2>
				<p>
					<%= content.rendered %>
				</p>
				<h3>Key features</h3>
				<%= key_features %>
					<h3>Key benefits</h3>
					<%= key_benefits %>
						<h3>Known limitations</h3>
						<%= known_limitations %>
			</div>
		</li>
	</script>

	<script src="js/externe/jquery.js"></script>
	<script src="js/externe/jquery-ui.min.js"></script>
	<script src="js/externe/foundation.js"></script>
	<script src="js/externe/modernizr.custom.js"></script>
	<script src="js/externe/underscore.js"></script>
	<script src="js/release_book.js"></script>

</body>

</html>
